[submodule "3rdParty/SDL"]
	path = 3rdParty/SDL
	url = https://github.com/SDL-mirror/SDL.git
[submodule "3rdParty/termcolor"]
	path = 3rdParty/termcolor
	url = https://github.com/ikalnytskyi/termcolor.git