[submodule "3rdParty/termcolor"]
	path = 3rdParty/termcolor
	url = https://github.com/ikalnytskyi/termcolor.git
[submodule "3rdParty/imgui"]
	path = 3rdParty/imgui
	url = https://github.com/ocornut/imgui.git
